@charset "UTF-8";

.container {
  width: 100%;
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fff;
  font-family: PtNarrow-Bd;
  font-weight: 700;
  letter-spacing: 0.158px;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

article {
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*--------------------*/

@font-face {
  font-family: "PtNarrow-Rg";
  font-display: swap;
  src: url("../fonts/PTN77F.woff") format("woff"), url("../fonts/PTN77F.woff2") format("woff2"), url("../fonts/PTN77F.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PtNarrow-Bd";
  font-display: swap;
  src: url("../fonts/PtNarrow.woff") format("woff"), url("../fonts/PtNarrow.woff2") format("woff2"), url("../fonts/PtNarrow.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}

.header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #000;
  position: relative;
}

.header:before {
  content: "";
  position: absolute;
  top: 0%;
  right: -120%;
  width: 50%;
  height: 100%;
  background-color: #242424;
  z-index: 51;
  -webkit-transition: all 0.55s ease 0s;
  -o-transition: all 0.55s ease 0s;
  transition: all 0.55s ease 0s;
}

.header._active:before {
  right: 0;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  padding: 0 40px;
}

.header__logo {
  padding: 0 0 2px 0;
}

.header__nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 20px;
  height: 100%;
}

.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header__item {
  height: 100%;
  padding: 0 20px;
}

.header__link {
  color: #fff;
  font-family: "PtNarrow-Bd";
  font-size: 16px;
  font-weight: 700;
  height: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__link:after {
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.header__link._active:after {
  display: block;
}

.header__login {
  height: 100%;
  padding: 0 20px 0 24px;
  margin: 0 -20px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-webp .header__logic-icon{
  background: url("../img/icon/login.png") center center no-repeat; }

.header__logic-icon {
  display: inline-block;
  margin: 0 15px 0 0;
  height: 14px;
  width: 14px;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.header__burger {
  display: none;
}

.no-webp .footer{
  background: url("../img/footer_bg.png") center center/cover no-repeat; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__innner {
  padding: 60px 20px 41px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column:first-child {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(33.333% - 10px);
      -ms-flex: 0 0 calc(33.333% - 10px);
          flex: 0 0 calc(33.333% - 10px);
  margin: 0 10px 0 0;
}

.footer__column:nth-child(2) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(33.333% - 20px);
      -ms-flex: 0 0 calc(33.333% - 20px);
          flex: 0 0 calc(33.333% - 20px);
  margin: 0 10px;
}

.footer__column:last-child {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(33.333% - 10px);
      -ms-flex: 0 0 calc(33.333% - 10px);
          flex: 0 0 calc(33.333% - 10px);
  margin: 0 0 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__text {
  margin: 0 0 30px 0;
}

.footer__socials {
  text-align: center;
}

.footer__developed {
  text-align: center;
}

.footer-text {
  color: #ffffff;
  font-size: 14px;
  line-height: 171.42857%;
}

.footer-text a {
  color: #fff;
  font-size: 14px;
  line-height: 171.42857%;
  position: relative;
}

.footer-text a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #777;
}

.socials-footer__body {
  margin: 16px auto 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-footer__link {
  display: inline-block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 43px;
      -ms-flex: 0 0 43px;
          flex: 0 0 43px;
  height: 43px;
  margin: 0 0 0 6px;
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-footer__link:first-child {
  margin: 0 0 0 0;
}

.developed-footer__btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0 0 0;
  padding: 0 28px 0 29px;
  height: 43px;
  background-color: #000000;
  color: #ffffff;
  font-family: "PtNarrow-bd";
  text-transform: uppercase;
  letter-spacing: 0.218px;
  font-size: 14px;
}

.footer-btn {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #f7f4f1;
}

.no-webp .main{
  background: url("../img/index-bg.jpg") center center/cover no-repeat; }

.main {
  color: #fff;
}

.main__inner {
  padding: 60px 20px 65px 20px;
}

.main__logo {
  margin: 0 20px;
  text-align: center;
}

.main__logo img {
  max-width: 371px;
  width: 100%;
}

.advantages {
  color: #f7f4f1;
  margin: 79px 25px 85px 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 27.67365%;
      -ms-flex: 0 0 27.67365%;
          flex: 0 0 27.67365%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__title {
  text-align: center;
  margin: 0 0 17px 0;
}

.advantages__icon {
  height: 19.5px;
  width: 19.5px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.advantages__text {
  margin: 32px 0 0 0;
  text-align: center;
}

.section {
  background-color: #f9f6f3;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 51px 8.51064% 50px 8.51064%;
  position: relative;
}

.section:before {
  content: url("../img/icon/section-split.png");
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: -webkit-calc(100% - 75px - 66px);
  height: calc(100% - 75px - 66px);
  -webkit-transform: translate(-2px, 0%);
      -ms-transform: translate(-2px, 0%);
          transform: translate(-2px, 0%);
  margin: 75px 0 66px 0;
}

.news {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(50% - 41px);
      -ms-flex: 0 0 calc(50% - 41px);
          flex: 0 0 calc(50% - 41px);
  margin: 0 41px 0 0;
}

.news__title {
  margin: 0 0 3px 0;
}

.news__section {
  margin: 21px 0 0 0;
}

.news__date {
  line-height: initial;
  margin: 5px 0 0 0;
}

.news__btn {
  margin: 30px 0 0 0;
}

.section-text {
  font-size: 14px;
  line-height: 171.42857%;
}

.section-btn {
  display: inline-block;
  width: 140px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 15px 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 90px;
  min-width: 0;
}

.photo__title {
  margin: 0 0 34px 2px;
}

.photo__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px 0 0 0;
}

.photo__btn {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 140px;
      -ms-flex: 1 1 140px;
          flex: 1 1 140px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 15px 15px;
  margin: 0 0 0 20px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.photo__btn:first-child {
  margin: 0 0 0 0;
}

.photoslider {
  width: 100%;
  position: relative;
}

.photoslider__body {
  margin: 0 7px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.photoslider__slide {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.photoslider__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-disabled {
  opacity: 0.8;
  cursor: inherit;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.section-2 {
  margin: 36px 0 0 0;
}

.information {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(50% - 40px);
      -ms-flex: 0 0 calc(50% - 40px);
          flex: 0 0 calc(50% - 40px);
  margin: 0 40px 0 0;
}

.information__title {
  margin: 0 0 24px 0;
}

.information__text {
  margin: 22px 0 0 0;
}

.information__text:nth-child(2) {
  margin: 0 0 0 0;
}

.information__btns {
  margin: 22px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/3;
}

.information__btn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 140px;
      -ms-flex: 0 1 140px;
          flex: 0 1 140px;
  width: auto;
  margin: 0 0 0 20px;
}

.information__btn:first-child {
  margin: 0 0 0 0;
}

.join {
  margin: 0 0 0 90px;
}

.join__title {
  margin: 0 0 25px 0;
}

.join__form {
  margin: 15px 0 0 0;
  color: #000;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px 20px;
}

.join__label {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  padding: 0 0 8px 17px;
  cursor: pointer;
}

.join__input {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid #000101;
  background-color: #f9f6f3;
  position: relative;
  padding: 0 0 0 17px;
  height: 43px;
  max-width: 140px;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  overflow: hidden;
}

.join__input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: transparent;
  opacity: 0;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.join__btn {
  margin: 8px 0 0 0;
  grid-column: 1/3;
  background-color: #000;
  color: #fff;
  padding: 12px 0 13px 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.shop__inner {
  padding: 57px 20px 49px 20px;
}

.shop__header {
  color: #000000;
}

.shop__body {
  margin: 60px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header {
  color: #000000;
}

.page-header__title {
  text-transform: uppercase;
}

.page-header__nav {
  margin: 22px 0 0 0;
}

.page-header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

.page-header__item {
  position: relative;
}

.page-header__item:first-child .page-header__link {
  padding: 0 25px 0 0;
}

.page-header__item:last-child .page-header__link {
  padding: 0 10px 0 15px;
  color: #aba9a7;
  cursor: default;
}

.page-header__item:last-child .page-header__link:before {
  display: none;
}

.page-header__link {
  color: #000;
  font-size: 14px;
  padding: 0 25px 0 15px;
  line-height: 18px;
  white-space: nowrap;
}

.page-header__link:before {
  content: url("../img/icon/romb.png");
  position: absolute;
  top: 0;
  right: 0px;
}

.filter {
  padding: 0 20px 0 0;
  color: #000;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 188px;
      -ms-flex: 0 1 188px;
          flex: 0 1 188px;
}

.filter__manufacturer {
  margin: 0 0 52px 0;
}

.filter__manufacturer .filter__elem span img {
  width: 10px;
  height: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.filter__manufacturer .filter__elem._active img {
  opacity: 1;
}

.filter__title {
  font-size: 24px;
  margin: 0 0 30px 0;
  letter-spacing: -0.042px;
}

.filter__elem {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 17px 0 0 0;
  font-size: 14px;
  color: #000;
  line-height: 20px;
}

.filter__elem:nth-child(2) {
  margin: 0 0 0 0;
}

.filter__elem span {
  display: inline-block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20px;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
  border: 2px solid #000101;
  background-color: #f9f6f3;
  position: relative;
}

.filter__elem span img,
.filter__elem span span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.filter__elem p {
  margin: 0 0 0 23px;
}

.filter__product .filter__elem > span {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.filter__product .filter__elem > span span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #000000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.filter__product .filter__elem._active > span span {
  opacity: 1;
}

.filter__btn {
  display: inline-block;
  margin: 50px 0 0 0;
  padding: 15px 28px 15px 33px;
  background-color: #000000;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.35px;
  text-transform: uppercase;
}

.page-btn {
  background-color: #000000;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.goods {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 74.46809%;
      -ms-flex: 0 0 74.46809%;
          flex: 0 0 74.46809%;
}

.goods__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.goods__item {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.goods__pages {
  margin: 45px 0 0 0;
}

.goods__btn {
  font-size: 14px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 43px;
  height: 43px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 7px;
}

.goods__btn:first-child {
  margin: 0 0 0 0;
}

.goods__btn._active {
  background-color: #fff;
  color: #000;
}

.item-goods {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-goods__img {
  width: 100%;
}

.item-goods__body {
  padding: 13.5px 16px 16px 16px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-goods__title {
  color: #000000;
  line-height: 128.57143%;
}

.item-goods__title span {
  text-transform: uppercase;
}

.item-goods__buy {
  padding: 15px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.item-goods__price {
  height: 43px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 109px;
      -ms-flex: 1 1 109px;
          flex: 1 1 109px;
  font-size: 14px;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.item-goods__btn {
  height: 43px;
  color: #fff;
  font-size: 14px;
  padding: 0 16px 0 19px;
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*********************Price****************************************/

.price__inner {
  padding: 56px 20px 82px 20px;
}

.price__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 51px 0 57px 0;
}

.price__title span {
  display: inline-block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 17.02128%;
      -ms-flex: 0 0 17.02128%;
          flex: 0 0 17.02128%;
  background-color: #000;
  height: 2px;
}

.price__title h1 {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  color: #000000;
  font-size: 48px;
  line-height: 110%;
}

.price__row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 62px 0 0 0;
}

.price__row:first-child {
  margin: 0 0 0 0;
}

.price__section {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48.93617%;
      -ms-flex: 0 0 48.93617%;
          flex: 0 0 48.93617%;
}

.page-header__link {
  text-transform: uppercase;
}

.section-price {
  color: #000;
}

.section-price:nth-child(2) .section-price__text {
  margin: 54px 0 0 0;
}

.section-price__title {
  font-size: 24px;
  line-height: 30px;
}

.section-price__text {
  font-size: 14px;
  line-height: 24px;
  width: 82.6087%;
  text-transform: uppercase;
  margin: 29px 0 0 0;
}

.facilities {
  margin: 35px 0 0 0;
}

.facilities__item:first-child .facilities__text {
  margin: 0 0 0 0;
}

.facilities__text {
  font-size: 14px;
  padding: 0 0 0 21px;
  margin: 27px 0 0 0;
  position: relative;
  text-transform: uppercase;
}

.facilities__text:before {
  content: url("../img/icon/romb.png");
  position: absolute;
  top: 0;
  left: 0px;
}

.price-table {
  margin: 35px 0 0 0;
  border: 1px solid #000101;
}

.price-table__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-table__child {
  border: 1px solid #000101;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 43px;
  background-color: #f9f6f3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-table__service {
  padding: 0 0 0 19px;
}

.price-table__value {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*****************Item*********************/

.item__inner {
  padding: 56px 20px 0 20px;
}

.item__body {
  margin: 52px 0 49px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-slider {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50.53191%;
      -ms-flex: 0 0 50.53191%;
          flex: 0 0 50.53191%;
  min-width: 0;
  padding: 0 0 0 15px;
  margin: 0 0 0 -15px;
}

.item-slider__big {
  -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-slider__small {
  padding: 15px;
  margin: -15px;
  overflow: hidden;
}

.item-slider__small .swiper-slide-thumb-active {
  -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.4);
          box-shadow: 0 0 15px rgba(0, 1, 1, 0.4);
}

.item-slider__slide {
  -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
  min-width: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-slider__slide img {
  width: 100%;
}

.slider-small__slide {
  cursor: pointer;
}

.item-info {
  padding: 19px 0 0 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40.42553%;
      -ms-flex: 0 0 40.42553%;
          flex: 0 0 40.42553%;
  text-transform: uppercase;
}

.item-info__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-info__vendorcode {
  color: #aeaeae;
}

.item-info__description {
  margin: 32px 0 39px 0;
}

.item-info__buy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.item-info-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 109px;
  height: 43px;
  background-color: #e5e5e5;
}

.item-info-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 78px;
  height: 43px;
}

.item-kit {
  margin: 66px 0 0 0;
}

.item-kit__title {
  font-size: 24px;
}

.kit-list {
  margin: 35px 0 0 0;
}

.kit-list__item {
  padding: 0 0 0 21px;
  position: relative;
}

.kit-list__item:before {
  content: url("../img/icon/romb.png");
  position: absolute;
  top: 0;
  left: 1px;
}

@media (min-width: 768px) {
  .advantages__title {
    font-size: -webkit-calc(27px + 3 * (100vw / 2560));
    font-size: calc(27px + 3 * (100vw / 2560));
  }

  .section-title {
    font-size: -webkit-calc(26px + 4 * (100vw / 2560));
    font-size: calc(26px + 4 * (100vw / 2560));
  }

  .page-header__title {
    font-size: -webkit-calc(27px + 3 * (100vw / 2560));
    font-size: calc(27px + 3 * (100vw / 2560));
  }
}

@media (min-width: 991px) {
  .header__item:hover {
    background-color: #242424;
  }

  .header__login:hover {
    background-color: #242424;
  }

  .no-webp .header__login:hover .header__logic-icon{
    background: url("../img/icon/login-white.png") center center/cover no-repeat; }

  .footer-btn:hover {
    background-color: #663d15;
  }

  .section-btn:hover {
    background-color: #663d15;
  }

  .photo__btn:hover {
    background-color: #663d15;
  }

  .swiper-button-disabled:hover {
    background-color: #000;
  }

  .join__input:hover {
    border: 2px solid #663d15;
  }

  .join__btn:hover {
    background-color: #663d15;
  }

  .page-btn:hover {
    background-color: #663d15;
  }

  .goods__item:hover {
    -webkit-box-shadow: 3px 4px 25px rgba(0, 1, 1, 0.3);
            box-shadow: 3px 4px 25px rgba(0, 1, 1, 0.3);
  }

  .goods__btn._active:hover {
    background-color: #fff;
  }

  .item-slider__big:hover {
    -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.4);
            box-shadow: 0 0 15px rgba(0, 1, 1, 0.4);
  }

  .item-slider__slide:hover {
    -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.6);
            box-shadow: 0 0 15px rgba(0, 1, 1, 0.6);
  }
}

@media (max-width: 980px) {
  .main__inner {
    padding: 50px 20px 55px 20px;
  }

  .section {
    padding: 40px 55px;
  }

  .news {
    margin: 0 20px 0 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(50% - 20px);
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
  }

  .photo__slider {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .photo__navigation {
    margin: 30px 0 0 0;
  }

  .photo {
    margin: 0 0 0 50px;
  }

  .information {
    margin: 0 20px 0 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(50% - 20px);
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
  }

  .information__title {
    margin: 0 0 20px 0;
  }

  .join {
    margin: 0 0 0 50px;
  }

  .shop__inner {
    padding: 50px 20px 45px 20px;
  }

  .shop__body {
    margin: 50px 0 0 0;
  }

  .filter__manufacturer {
    margin: 0 0 40px 0;
  }

  .filter__title {
    margin: 0 0 20px 0;
  }

  .filter__btn {
    margin: 40px 0 0 0;
  }

  .goods__pages {
    margin: 40px 0 0 0;
  }

  .price__inner {
    padding: 45px 20px 70px 20px;
  }

  .price__title {
    margin: 40px 0 45px 0;
  }

  .price__title h1 {
    font-size: 42px;
  }

  .price__row {
    margin: 50px 0 0 0;
  }

  .section-price:nth-child(2) .section-price__text {
    margin: 50px 0 0 0;
  }

  .section-price__text {
    width: 90%;
    margin: 25px 0 0 0;
  }

  .facilities {
    margin: 30px 0 0 0;
  }

  .price-table {
    margin: 30px 0 0 0;
  }

  .item__inner {
    padding: 50px 20px 0 20px;
  }

  .item__body {
    margin: 45px 0 42px 0;
  }

  .item-info {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    padding: 15px 0 0 0;
  }

  .item-info__description {
    margin: 25px 0 33px 0;
  }

  .item-kit {
    margin: 55px 0 0 0;
  }

  .kit-list {
    margin: 30px 0 0 0;
  }
}

@media (max-width: 850px) {
  .price__title h1 {
    font-size: 40px;
  }
}

@media (max-width: 820px) {
  .header__nav {
    margin: 0 0 0 15px;
  }

  .header__item {
    padding: 0 15px;
  }
}

@media (max-width: 800px) {
  .price__title h1 {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  .header:before {
    width: 50%;
  }

  .header__logo {
    z-index: 53;
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: -120%;
    width: 50%;
    height: 100%;
    background-color: #242424;
    display: block;
    padding: 70px 0 20px 40px;
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 50;
  }

  .header__nav._active {
    right: 0;
  }

  .header__list {
    display: block;
    height: auto;
  }

  .header__item {
    height: auto;
    padding: 0 0 0 0;
  }

  .header__link {
    padding: 20px 0;
    font-size: 18px;
  }

  .header__login p {
    display: none;
  }

  .header__login {
    height: auto;
  }

  .header__login p {
    display: block;
  }

  .header__logic-icon {
    margin: 0 0 0 0;
  }

  .header__logic-icon {
    margin: 0 15px 0 0;
  }

  .header__burger {
    display: block;
    width: 26px;
    height: 20px;
    position: relative;
    z-index: 52;
  }

  .header__burger span {
    background-color: #fff;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .header__burger span:first-child {
    top: 0;
  }

  .header__burger span:nth-child(2) {
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }

  .header__burger span:last-child {
    bottom: 0;
  }

  .header__burger._active span:first-child {
    top: 9px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__burger._active span:nth-child(2) {
    display: none;
  }

  .header__burger._active span:last-child {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .main__inner {
    padding: 40px 20px 45px 20px;
  }

  .advantages {
    margin: 55px 20px 60px 5px;
  }

  .advantages__title {
    font-size: -webkit-calc(27px + 5.1 * ((100vw - 320px) / 2560));
    font-size: calc(27px + 5.1 * ((100vw - 320px) / 2560));
  }

  .section {
    padding: 35px 35px;
  }

  .news__section {
    margin: 17px 0 0 0;
  }

  .news__btn {
    margin: 20px 0 0 0;
  }

  .section-title {
    font-size: -webkit-calc(26px + 6.8 * ((100vw - 320px) / 2560));
    font-size: calc(26px + 6.8 * ((100vw - 320px) / 2560));
  }

  .photo__title {
    margin: 0 0 25px 2px;
  }

  .photo__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0 0 0;
  }

  .photo__btn {
    width: 100%;
    max-height: 43px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 43px;
        -ms-flex: 0 0 43px;
            flex: 0 0 43px;
  }

  .photo {
    margin: 0 0 0 30px;
  }

  .photoslider {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .photoslider__body {
    margin: 0 0 0 0;
  }

  .photo__button_prev {
    margin: 0 0 20px 0;
  }

  .information__title {
    margin: 0 0 10px 0;
    line-height: 32px;
  }

  .information__btn {
    margin: 0 0 0 15px;
  }

  .join {
    margin: 0 0 0 30px;
  }

  .shop__inner {
    padding: 40px 20px 35px 20px;
  }

  .shop__body {
    margin: 40px 0 0 0;
  }

  .page-header__title {
    font-size: -webkit-calc(27px + 5.1 * ((100vw - 320px) / 2560));
    font-size: calc(27px + 5.1 * ((100vw - 320px) / 2560));
  }

  .filter__manufacturer {
    margin: 0 0 30px 0;
  }

  .filter__btn {
    margin: 30px 0 0 0;
  }

  .goods {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(100% - 188px);
        -ms-flex: 0 0 calc(100% - 188px);
            flex: 0 0 calc(100% - 188px);
  }

  .goods__list {
    grid-template-columns: 1fr 1fr;
  }

  .goods__pages {
    margin: 30px 0 0 0;
  }

  .price__inner {
    padding: 35px 20px 50px 20px;
  }

  .price__title {
    margin: 35px 0 40px 0;
  }

  .price__title span {
    display: none;
  }

  .price__title h1 {
    width: 100%;
    margin: 0 0 0 0;
    font-size: 36px;
  }

  .price__row {
    display: block;
    margin: 35px 0 0 0;
  }

  .section-price:nth-child(2) .section-price__text {
    margin: 45px 0 0 0;
  }

  .section-price:nth-child(2) {
    margin: 30px 0 0 0;
  }

  .section-price__title br {
    display: none;
  }

  .section-price__text {
    margin: 20px 0 0 0;
  }

  .facilities {
    margin: 25px 0 0 0;
  }

  .price-table {
    margin: 25px 0 0 0;
  }

  .item__inner {
    padding: 40px 20px 0 20px;
  }

  .item__body {
    margin: 40px 0 38px 0;
  }

  .item-info {
    padding: 10px 0 0 0;
  }

  .item-info__description {
    margin: 20px 0 25px 0;
  }

  .item-kit {
    margin: 45px 0 0 0;
  }

  .kit-list {
    margin: 25px 0 0 0;
  }
}

@media (max-width: 700px) {
  .advantages__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media (max-width: 650px) {
  .footer__innner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 40px 20px 30px 20px;
  }

  .footer__column:first-child {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .footer__column:nth-child(2) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 141px;
        -ms-flex: 0 0 141px;
            flex: 0 0 141px;
    margin: 0 0 0 0;
  }

  .footer__column:last-child {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 0 0 0;
  }

  .footer__text {
    text-align: center;
  }

  .advantages {
    display: block;
    margin: 50px 15px 55px 15px;
  }

  .section:before {
    display: none;
  }

  .section {
    display: block;
  }

  .news {
    margin: 0 0 60px 0;
    position: relative;
  }

  .news:before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -30px;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    height: 2px;
    background: #d0d0d0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(208, 208, 208, 0.4)), color-stop(20%, #d0d0d0), color-stop(80%, #d0d0d0), to(rgba(208, 208, 208, 0.4)));
    background: -o-linear-gradient(left, rgba(208, 208, 208, 0.4) 0%, #d0d0d0 20%, #d0d0d0 80%, rgba(208, 208, 208, 0.4) 100%);
    background: linear-gradient(90deg, rgba(208, 208, 208, 0.4) 0%, #d0d0d0 20%, #d0d0d0 80%, rgba(208, 208, 208, 0.4) 100%);
  }

  .photo {
    margin: 0 0 0 0;
  }

  .information {
    margin: 0 0 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px 40px;
    position: relative;
  }

  .information:before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -30px;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    height: 2px;
    background: #d0d0d0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(208, 208, 208, 0.4)), color-stop(20%, #d0d0d0), color-stop(80%, #d0d0d0), to(rgba(208, 208, 208, 0.4)));
    background: -o-linear-gradient(left, rgba(208, 208, 208, 0.4) 0%, #d0d0d0 20%, #d0d0d0 80%, rgba(208, 208, 208, 0.4) 100%);
    background: linear-gradient(90deg, rgba(208, 208, 208, 0.4) 0%, #d0d0d0 20%, #d0d0d0 80%, rgba(208, 208, 208, 0.4) 100%);
  }

  .information__title {
    grid-column: 1/3;
  }

  .information__text:nth-child(2) {
    text-align: right;
  }

  .information__text:nth-child(3) {
    margin: 0 0 0 0;
  }

  .information__btns {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0 0 0;
  }

  .information__btn {
    margin: 0 0 0 40px;
  }

  .join {
    margin: 0 0 0 0;
  }

  .join__input {
    width: 100%;
    max-width: initial;
  }

  .shop__inner {
    padding: 35px 20px 30px 20px;
  }

  .shop__body {
    display: block;
    margin: 30px 0 0 0;
  }

  .page-header__nav {
    margin: 18px 0 0 0;
  }

  .filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .filter__manufacturer {
    margin: 0 0 0 0;
  }

  .filter__manufacturer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .filter__product {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .filter__btn {
    margin: 30px 0 30px 0;
  }

  .goods__pages {
    margin: 25px 0 0 0;
  }

  .price__title {
    margin: 30px 0 35px 0;
  }

  .price__title h1 {
    font-size: 34px;
  }

  .price__row {
    margin: 30px 0 0 0;
  }

  .section-price:nth-child(2) .section-price__text {
    margin: 0 0 0 0;
  }

  .facilities {
    margin: 20px 0 0 0;
  }

  .price-table {
    margin: 20px 0 0 0;
  }

  .item__inner {
    padding: 35px 20px 0 20px;
  }

  .item__body {
    display: block;
    margin: 35px 0 33px 0;
  }

  .item-slider {
    width: 80%;
    margin: 0 auto 35px auto;
  }

  .slider-big__slide img {
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .item-kit {
    margin: 40px 0 0 0;
  }

  .kit-list {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 600px) {
  .advantages__column {
    margin: 30px 0 0 0;
  }

  .advantages__column:first-child {
    margin: 0 0 0 0;
  }

  .advantages__text {
    margin: 25px 0 0 0;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 25px;
  }

  .information {
    display: block;
  }

  .information__title {
    margin: 0 0 20px 0;
  }

  .information__text:nth-child(2) {
    text-align: left;
  }

  .information__text:nth-child(3) {
    margin: 20px 0 0 0;
  }

  .information__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0 0 0;
  }

  .information__btn {
    margin: 20px 0 0 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .price__inner {
    padding: 35px 20px 45px 20px;
  }

  .price__title h1 {
    font-size: 32px;
  }

  .section-price:nth-child(2) {
    margin: 25px 0 0 0;
  }

  .section-price__text {
    margin: 15px 0 0 0;
  }

  .item__body {
    margin: 30px 0 28px 0;
  }

  .item-slider {
    width: 100%;
    margin: 0 auto 30px auto;
  }

  .slider-big__slide img {
    max-height: 250px;
  }

  .item-info {
    padding: 7px 0 0 0;
  }

  .item-info__description {
    margin: 18px 0 22px 0;
  }

  .item-kit {
    margin: 30px 0 0 0;
  }

  .kit-list {
    margin: 15px 0 0 0;
  }
}

@media (max-width: 450px) {
  .filter {
    display: block;
  }

  .filter__manufacturer {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 430px) {
  .goods__list {
    display: block;
  }

  .goods__item {
    margin: 20px 0 0 0;
  }

  .goods__item:first-child {
    margin: 0 0 0 0;
  }
}

@media (max-width: 380px) {
  .join__form {
    display: block;
  }

  .join__item {
    width: 100%;
    margin: 18px 0 0 0;
  }

  .join__item:first-child {
    margin: 0 0 0 0;
  }

  .join__btn {
    width: 100%;
    margin: 25px 0 0 0;
  }
}

@media (max-width: 375px) {
  .footer__innner {
    display: block;
    padding: 30px 20px 20px 20px;
  }

  .footer__developed {
    margin: 25px auto 0 auto;
  }

  .main__inner {
    padding: 35px 20px 40px 20px;
  }

  .price__inner {
    padding: 30px 20px 40px 20px;
  }
}

@media (max-width: 375) {
  .footer__socials {
    margin: 0 auto;
  }
}

@media (max-width: 350px) {
  .header:before {
    width: 100%;
  }

  .header__nav {
    width: 100%;
  }
}

.webp .header__logic-icon{ background: url(../img/icon/login.webp) center center no-repeat; }

.webp .footer{ background: url(../img/footer_bg.webp) center center/cover no-repeat; }

.webp .main{ background: url(../img/index-bg.webp) center center/cover no-repeat; }

@media (min-width: 991px){

  .webp .header__login:hover .header__logic-icon{ background: url(../img/icon/login-white.webp) center center/cover no-repeat; }
}